//page-tabs { }
.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ion-ios-fa-bullhorn::before,
.ion-ios-fa-bullhorn-outline::before,
.ion-md-fa-bullhorn::before {
  @extend .fa-icons-general;
  content: url("../../assets/img/coinIcon24_24/BTC.png");
}

.ion-ios-fa-cutlery::before,
.ion-ios-fa-cutlery-outline::before,
.ion-md-fa-cutlery::before {
  @extend .fa-icons-general;
  content: "\f0f5";
}

.ion-ios-fa-graduation-cap::before,
.ion-ios-fa-graduation-cap-outline::before,
.ion-md-fa-graduation-cap::before {
  @extend .fa-icons-general;
  content: "\f19d";
}

.ion-ios-fa-calendar::before,
.ion-ios-fa-calendar-outline::before,
.ion-md-fa-calendar::before {
  @extend .fa-icons-general;
  content: "\f073";
}
