//page-tabs { }
.fa-icons-general {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ion-ios-fa-home::before,
.ion-ios-fa-home-outline::before,
.ion-md-fa-home::before {
  @extend .fa-icons-general;
  content: url("../../assets/imgs/home24x24.png");
}

.ion-ios-fa-coin::before,
.ion-ios-fa-coin-outline::before,
.ion-md-fa-coin::before {
  @extend .fa-icons-general;
  content: url("../../assets/imgs/coin24x24.png");
}

.ion-ios-fa-account::before,
.ion-ios-fa-account-outline::before,
.ion-md-fa-account::before {
  @extend .fa-icons-general;
  content: url("../../assets/imgs/account24x24.png");
}

.ion-ios-fa-calendar::before,
.ion-ios-fa-calendar-outline::before,
.ion-md-fa-calendar::before {
  @extend .fa-icons-general;
  content: "\f073";
}

.top-44  .tab-nav{
  height: 22px;
  top:22px !important;
}
