<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <!--<ion-avatar item-start>-->
          <!--<img [src]="picAdress+item.code+'.png'"/>-->
        <!--</ion-avatar>-->
        <h2>{{item.name}}</h2>
        <p>{{'PRICE'|translate}} : {{item.cost}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>

        <ion-avatar item-end *ngIf="item.fav; then thenTemplateName else elseTemplateName">
        </ion-avatar>

        <ng-template #thenTemplateName>
          <ion-img [src]="favIcon"></ion-img>
        </ng-template>

        <ng-template #elseTemplateName>
          <ion-img [src]="favIconfalse"></ion-img>
        </ng-template>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
